* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  color: var(--texto-geral);
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--texto-geral);
}

img{
  max-width: 100%;
}

